include LICENSE
include NOTICE.md
include README.md
include CONTRIBUTING.md
include SECURITY.md
recursive-include LICENSES *.txt
recursive-include examples *.py *.mjs
recursive-include integrations *.json *.toml *.yaml
recursive-include tests *.py
global-exclude *.py[cod]
global-exclude __pycache__
